/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.FloorteBtn .fl-callout-text a {
  color: #56728d !important;
}
footer .social-icons a:hover i {
  color: #74930c !important;
}
.top-bar-locations {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.slider .uabb-photo-gallery.uabb-gallery-grid6 {
  display: flex !important;
  align-items: center !important;
}
.top-bar-nav ul#menu-top-bar-menu li a,
.top-bar-nav ul#menu-top-bar-menu li a *,
.fl-page-bar-text font span {
  font-size: 14px !important;
}
.fl-page-bar a *,
.fl-page-bar a *:hover {
  color: #fff !important;
  font-size: 14px;
}
.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-2x {
  font-size: 18px !important;
  vertical-align: text-bottom !important;
}
.Floorvan_form a {
  color: #56728d !important;
}

/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/
ul.social-icons li a:hover i {
  color: #56728d;
}

.privacy-policy-row .storename,
.privacy-policy-row .phone {
  display: inline-block;
}
#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before {
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 25px;
}
.ui-datepicker-title select {
  color: #414042;
}
.fl-page-bar-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #c9c1b4;
}
.d-none .fl-heading span {
  font-size: 0px !important;
}
.headerMain .fl-col-group {
  display: flex;
  justify-content: space-between;
}
.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input {
  width: calc(5rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour i {
  margin-right: -25px;
}
.gform_wrapper
  .field_sublabel_below
  div[class*="gfield_time_"].ginput_container
  label {
  margin: 1px 0 9px 13px !important;
}
body .gform_wrapper .top_label div.ginput_container.ginput_container_time {
  margin-right: 30px !important;
}

.fullWidthBanner img {
  width: 100%;
}

.phone > a {
  font-weight: 400;
  color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
  border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
.gform_wrapper ul.gform_fields li.gfield select {
  padding: 14px 5px !important;
  min-width: 60px;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button {
  background: #949494;
}
.fl-page-bar-row .fl-page-bar-text-2 {
  padding: 10px 0 0 0;
}
.fl-page-bar-row .fl-page-bar-text-2 a {
  font-size: 16px;
}
.fl-page-bar-row .fl-page-bar-text-2 i {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: -3px;
}
.fl-page-bar-nav .menu-item .storename li .phone a:before {
  content: "\f095";
  font-family: FontAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: middle;
  margin: 2px 5px 0 0px;
  font-weight: 400;
  font-size: 18px;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs {
  max-height: 456px;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #54565a;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #54565a !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Jost",sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #74930c !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #74930c !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #54565a !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #74930c !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #74930c !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #54565a !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Jost",sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #74930c !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #54565a !important;
}

@media (min-width: 1024px) {
  .fl-page-bar .fl-page-bar-nav > li > a {
    padding: 2px 60px !important;
  }
}

@media (min-width: 992px) {

  .product-detail-layout-6 .product-variations .slick-slider .slick-arrow {
    top: 20px !important;
  }

  /* .product-detail-layout-6 .product-variations .color-boxs-inners small {
    min-height: 30px;
    display: block;
  }

  .container .row .product-detail-layout-6 .color-box {
    margin-bottom: 10px;
  } */
}

@media (max-width: 1024px) {
  .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .headerMain .headerRightNav {
    margin-left: 30px;
  }

  .fl-node-5d08ac826d1d6
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding: 10px 8px !important;
  }
}

@media (min-width: 768px) {
  .fl-page-bar .text-right .fl-page-bar-nav {
    text-align: center;
  }
}
@media (max-width: 1179px) {
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .close_sidebar_button,
  .open_sidebar {
    display: block;
  }
  .facet_filters {
    position: fixed;
    top: 0;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters {
    z-index: 9991 !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .close_sidebar_button,
  .open_sidebar {
    display: block;
  }

  .open_sidebar a.fl-button {
    display: inline-block !important;
  }
  .open_sidebar a {
    float: none !important;
  }
  .fa-close:before,
  .fa-remove:before,
  .fa-times:before {
    content: "\f00d";
  }
  .close .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .facet_filters .close_bar {
    display: block !important;
  }
  .col-md-5.col-sm-12.product-box > .row > div {
    margin: 0 auto !important;
    text-align: center;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  /* .searchIcon {
        position: absolute;
    } */

  /* button#responsive-menu-button {
        top: 0 !important;
    } */
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  header .fl-photo.fl-photo-align-left img.fl-photo-img {
    max-width: 400px !important;
  }
  #responsive-menu-container #responsive-menu-search-box,
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title {
    padding: 10px 5% !important;
  }
  .fl-page-header-logo {
    text-align: left;
    max-width: 400px !important;
  }
  .fl-page-nav-right .fl-page-nav-wrap {
    display: none;
  }
  .headerMain .fl-col-group {
    display: flex;
    align-items: center;
  }

  .headerMain .headerRightNav {
    margin: 0;
  }

  .headerMain .headerLogo {
    flex: 2;
  }
  .w-100 {
    width: 100%;
  }
  .headerMain .phone.retailer {
    font-size: 26px;
    color: #3b5267;
    margin-right: 30px;
    vertical-align: middle;
    font-family: "Ultimate-Icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .headerMain .phone.retailer:before {
    content: "\ea3e";
  }
  .headerMain .phone.retailer span {
    font-size: 0;
  }

  .iPadFooter .fl-col-group {
    display: flex;
  }

  .iPadFooter .fl-col-group .fl-col {
    flex: 1;
  }

  ul#menu-copyright-bar-menu {
    display: flex;
  }

  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
    flex: 3;
  }

  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
    flex: 1;
  }
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 33.33%;
  }

  .galleryImages .uabb-photo-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 767px) {
  .highlightPoits .fl-col-group .fl-col {
    width: 100% !important;
  }
  .highlightPoits .fl-col-group .fl-col .fl-col-content {
    border: 0;
  }
  button#responsive-menu-button {
    top: 110px !important;
  }
  .fl-page-bar-text font,
  .top-bar-nav ul#menu-top-bar-menu li a,
  .top-bar-nav ul#menu-top-bar-menu li a * {
    font-size: 12px !important;
  }
  .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text > p {
    margin-bottom: 0;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav
    .navbar-toggle {
    display: none !important;
  }
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title,
  #responsive-menu-container #responsive-menu-search-box {
    padding: 10px 5% !important;
  }
  #responsive-menu-additional-content .storename li .phone span::before {
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  button#responsive-menu-button {
    z-index: 99999 !important;
  }
  #menu-about-us,
  #menu-inspiration-menu,
  #menu-flooring-menu {
    text-align: left !important;
  }
}
@media (max-width: 604px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
  }
  button#responsive-menu-button {
    top: 92px !important;
  }
  .top-bar-nav ul#menu-top-bar-menu li a,
  .top-bar-nav ul#menu-top-bar-menu li a * {
    line-height: 1.5 !important;
  }
  .uabb-masonary .uabb-masonary-item {
    width: 100% !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 64% !important;
  }
}
@media (max-width: 480px) {
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
  }
  .location-top .fl-button {
    text-align: unset;
  }
  .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
    right: 20px;
  }
  .fl-node-5d1f5d4b47fe6 [dir="rtl"] div.uabb-image-carousel .slick-prev {
    left: 20px;
  }
  .iPadFooter .fl-col-group {
    flex-direction: column;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 2;
    width: 100% !important;
    text-align: center;
  }
  ul#menu-copyright-bar-menu {
    justify-content: center;
  }
}
@media (max-width: 414px) {
  button#responsive-menu-button {
    top: 88px !important;
  }
  .fa-2x {
    font-size: 16px !important;
  }
}
@media (max-width: 379px) {
  .top-bar-nav .fl-page-bar-nav > li > a {
    padding: 2px 5px;
  }
  .fl-page-bar-row .col-md-6.text-right {
    padding-left: 5px;
  }
  .fl-page-bar-row .col-md-6.text-left {
    padding-right: 5px;
  }
  .fl-page-bar-text font,
  .top-bar-nav ul#menu-top-bar-menu li a,
  .top-bar-nav ul#menu-top-bar-menu li a * {
    font-size: 11px !important;
  }
  button#responsive-menu-button {
    top: 80px !important;
  }
}
@media (max-width: 374px) {
  .fl-page-bar {
    display: none;
  }
  button#responsive-menu-button {
    top: 15px !important;
  }
}
